<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context 
      	http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:property-placeholder location="classpath:config.properties"
		ignore-unresolvable="true" />

	<bean id="helloWorld" class="com.privalia.presentation.HelloWorld">
		<property name="hello" value="Hola Mundo!" />
	</bean>

	<bean id="helloWorldConst" class="com.privalia.presentation.HelloWorld">
		<constructor-arg index="0" value="Hola Mundo From Constructor!"
			type="java.lang.String">
		</constructor-arg>
	</bean>

	<bean id="student" class="com.privalia.entity.Student">
		<property name="idStudent" value="1" />
		<property name="name" value="Pepe" />
		<property name="surname" value="Soto" />
		<property name="age" value="24" />
		<property name="address">
			<ref bean="address" />
		</property>
	</bean>

	<bean id="studentCons" class="com.privalia.entity.Student">
		<constructor-arg index="0" value="${student.idstudent}"
			type="int" />
		<constructor-arg index="1" value="${student.name}"
			type="java.lang.String" />
		<constructor-arg index="2" value="${student.surname}"
			type="java.lang.String" />
		<constructor-arg index="3" value="${student.age}"
			type="int" />
		<constructor-arg index="4">
			<ref bean="address" />
		</constructor-arg>
	</bean>

	<bean id="address" class="com.privalia.entity.Address">
		<constructor-arg index="0" value="${address.idAddress}"
			type="int" />
		<constructor-arg index="1" value="${address.street}"
			type="java.lang.String" />
	</bean>


	<bean id="silver3Student" class="com.privalia.entity.listas.Student">
		<property name="idStudent" value="1" />
		<property name="name" value="Pepe" />
		<property name="surname" value="Soto" />
		<property name="age" value="24" />
		<property name="listTeacher">
			<list>
				<bean class="com.privalia.entity.listas.Teacher">
					<property name="idTeacher" value="1" />
					<property name="name" value="Jordi" />
				</bean>
				<bean class="com.privalia.entity.listas.Teacher">
					<property name="idTeacher" value="2" />
					<property name="name" value="Pepe" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="builder" class="com.privalia.builderexample.Employee$EmployeeBuilder">
		<constructor-arg value="1" />
		<constructor-arg value="Shamik Mitra" />
		<property name="gender" value="1" />
		<property name="hobby" value="Blogging" />
	</bean>

	<bean id="employee" class="com.privalia.builderexample.Employee"
		factory-bean="builder" factory-method="build" />

	<bean id="compra" class="com.privalia.aspectos.Comprar" />

	<bean id="validarCompra" class="com.privalia.aspectos.ValidarMaterial" />

	<aop:config>
		<aop:aspect ref="validarCompra">
			<aop:pointcut
				expression="execution( * com.privalia.aspectos.Comprar.compra(..) )"
				id="compraPointCut" />
			<aop:before pointcut-ref="compraPointCut" 
				method="comprobarCantidad" />
			<aop:after-returning pointcut-ref="compraPointCut"
				method="empaquetar" />
			<aop:after-throwing pointcut-ref="compraPointCut"
				method="ponerReclamacion" />
		</aop:aspect>
	</aop:config>
</beans>